@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-container {
  justify-content: space-between;
  margin: 0 auto;
  padding: 2vw 6vw;
}
.text-align-last{
  text-align-last: right;
}
.select-text-button .ring-2{
  background: linear-gradient(180deg,rgba(2, 0, 36, 0.11) 0%, rgba(21, 93, 252, 1) 100%);
}
.select-text-button .ring-2 > p{
  color: #fff;
}